*{margin:0;padding:0;}
a{text-decoration:none;}
ul li{list-style:none;}
img{ border:0;  }
textarea{padding-left:6px;padding-top:2px;}
.clearFloat{clear:both;}

/*
a:link{color:black;}
a:visited{color:black;}
a:hover{color:red;}
a:active{color:blue;}
*/



