.downRight{width:775px;overflow:hidden;height:500px;float:right;}
.downTitle{font-family:微软雅黑;font-size:14px;color:#003478;border-bottom:1px dashed #c5c7c7;padding-bottom:11px;margin-bottom:23px;padding-left:10px;}
.downTable{width:775px;font-family:宋体;font-size:14px;padding-left:18px;}
.downBtnToRig{text-align:right;padding-right:78px;}