.line{border-bottom:4px solid #003478;margin-top:110px;min-width:1002px;}
.footer{margin:0 auto;width:1002px;font-size:12px;font-family:ו;margin-top:30px;}
.footer div{text-align:center;}
.footer_row2{margin-top:10px;}